@{
    ViewData["Title"] = "Ügyintéző irányítópult";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card mb-4">
            <div class="card-header">
                Foglalások kezelése
            </div>
            <div class="card-body">
                <p>Itt kezelheti a rendszerben lévő foglalásokat.</p>
                <a asp-action="Rentals" class="btn btn-primary">Foglalások</a>
            </div>
        </div>
    </div>
</div> 